.base-notice-list-item {
  width: 100%;
  box-sizing: border-box;
  min-height: 3em;
  padding: .5em;

  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;

  &.success {
    background: $colorSuccess;
  }
  &.info {
    background: $colorInfo;
  }
  &.warning {
    background: $colorWarning;
  }
  &.error {
    background: $colorError;
  }

  .notice-icon {
    width: 5%;
    text-align: center;
    float: left;
  }
  .notice-message {
    width: 90%;
    float: left;

  }
  .notice-dismiss {
    width: 5%;
    text-align: center;
    float: right;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }

  }
}

.notice-container {
  font-size: 1em;
  position: absolute;
  width: 100%;
  z-index: 10000;

  &.toast {
    bottom: 1em;
    right: 1em;
    max-width: 275px;

//    .notice-list-item {
//      @extend .base-notice-list-item;
//      border-radius: 3px;
//      -webkit-box-shadow: 0 0 5px #ddd;
//      -moz-box-shadow: 0 0 5px #ddd;
//      box-shadow: 0 0 5px #ddd;
//      padding: .5em 0;
//
//      .notice-icon {
//      }
//    }
    .notice-list-item {
      @extend .base-notice-list-item;
      /*.border-radius(3px);*/
      line-height: 1.25em;
      box-shadow: #ddd 0 0 5px;
      margin-top: 7px;
      padding-left: 0;

      .notice-icon {
        width: 10%;
      }

      .notice-message {
        width: 75%;
        line-height: 1.25em;
      }

      .notification-dismiss {
        width: 5%;
      }
    }

  }

  &.bar-top {
    top: 0;
    left: 0;

    .notice-list-item {
      @extend .base-notice-list-item;
    }
  }


}